<h1>Welcome to Rock Paper Scissors</h1>
<form action="/title">
  <div class="form-group">
    <label for="title1">Player 1, enter your action.
    </label>
    <label for="title2">Player 2, enter your action.
    </label>
    <input id="title1" name="title1" class="form-control" type="text">
    <input id="title2" name="title2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
